<div id="logo-desktop">
        <svg
        width="192"
        height="23"
        viewBox="0 0 192 23"
        fill="none"
       xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
    <g transform="matrix(1,0,0,1,-137.467,7.056)">
        <text x="139.556px" y="9.787px" style="font-family:'Raleway-ExtraBold', 'Raleway', sans-serif;font-weight:800;font-size:21.161px;">gor<tspan x="173.922px " y="9.787px ">e</tspan>cki.</text>
        <text x="221.577px" y="9.787px" style="font-family:'Raleway-Regular', 'Raleway', sans-serif;font-size:21.161px;">blog</text>
    </g>
</svg>
</div>
